{% extends 'crime/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% if message %}
<script>
    alert('{{ message }}')
</script>
{% endif %}

{% block content %}

    <div class="container p-5 pt-5">
        <h3 class="lead">Login</h3><hr>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy}}
            <div class="form-group"><button class="btn btn-primary" type="submit">Login</button></div>
            <div class="form-group">
                <div>
                    <span>If you don't have an account then <a href="{% url 'register' %}">Sign Up</a></span>
                </div>
            </div>
        </form>
    </div>

{% endblock %}