{% extends 'crime/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% if message %}
<script>
    alert('{{ message }}')
</script>
{% endif %}

{% block content %}

    <div class="container p-5 pt-5">
        <h3 class="lead">Login</h3><hr>
        <form action="/postsignIn/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" name="Email"><br><br>
                <label for="Password">Password</label>
                <input type="password" name="Password"><br><br>
                <button class="btn btn-primary">Login</button>
            </div>
            <div class="form-group">
                <div>
                    <span>If you don't have an account then <a href="{% url 'register' %}">Sign Up</a></span>
                </div>
            </div>
        </form>
    </div>

{% endblock %}